.modal {
  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  &__img {
    position: relative;
    min-width: 30rem;
    height: 30rem;
    display: flex;
    align-items: center;
    & > img {
      object-fit: cover;
      min-width: 30rem;
      max-width: 30rem;
      min-height: 30rem;
      max-height: 30rem;
      height: 30rem;
      width: 30rem;
    }
  }
}