.price {
  background-color: $cl-primary;
  color: $cl-white;
  overflow: hidden;
  &__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__section {
    min-width: 20rem;
    width: 20%;
    margin: 4rem 2rem;
    box-shadow: 0 15px 50px rgba(0,0,0,0.2);
  }
  &__section-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 1rem 2rem;
    background-color: $cl-secondary;
  }
  &__section-content {
    padding: 1rem;
    padding-left: 1.5rem;
    min-height: 18rem;
    color: black;

  }
  &__list-item {
    margin: .5rem 0;
    font-size: 1.1rem;
    padding: 0;
    list-style: none;
    & span {
      height: 1.5rem;
      width: 1.5rem;
      margin-right: 1rem;
      background-color:$cl-gray;
      // padding: .4rem;
      border-radius: 50%;
      text-align: center;
      display: inline-block;
    }
  }
  &__button {
    &-container{
      display: flex;
      justify-content: center;
    }
    color: #ffffff;
    background-color: $cl-secondary;
    &:hover {
      background-color: $cl-secondary-focus;
    }
    &-margin {
      margin: 1rem 0;
    }
  }
  &__list {
    margin: 0;
    padding: 0;
  }
  &__copy {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    margin: 0 2rem;
    padding: .5rem 0;
    border-top: solid 1px $cl-white;
  }
  @media screen and (max-width: $breakpoint-tablet) {
    &__body {
      justify-content: center;
      margin: 3rem 0;
    }
    &__section {
      margin-bottom: 0;
      margin-top: 2rem;
    }
    &__section-title {
      text-align: center;
    }
    &__copy {
      font-size: .8rem;
    }
  }
}


.price__list-item-category {
  display: flex;
  flex-direction: row;

  align-items: center;
  & >p {
    margin: 0;
  }
}

.link-azul {
  color: $cl-secondary;
  & :hover {
    color: $cl-primary-alt;
  }
}